{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello Employee {{ user.name }}!
<br> Group id: {{ user.is_staff}}
<br> date joined: {{ user.date_joined}}
<br> user is_employee: {{ user.is_employee}}
<br><br>
<h1>Pickups For {{ day }} {{ today }}:</h1>
<h6>
  <ul class="list-group list-group-flush rounded mb-4">
    {% for customer in Customers %}
    <li class="list-group-item">
      <a href="{% url 'employees:customer' customer.id %}">{{customer.name}}</a><br>
      {{customer.address}}, {{customer.zip_code}}
    </li>
    {% endfor %}
</h6>
</ul>
{% else %}
<p>You are at the employee index, but you are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
{% endblock %}