{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hello Employee {{ logged_in_employee.name }}!
<br> Group id: {{ user.is_staff}}
<br> date joined: {{ user.date_joined}}
<br> user is_employee: {{ user.is_employee}}
<br><br>
<h1>Pickups For {{ day }} {{ today }}:</h1>
<h6>
  <ul class="list-group list-group-flush rounded mb-4">
    {% for customer in Customers %}
    <li class="list-group-item">
      <a href="{% url 'employees:customer' customer.id %}">{{customer.name}}</a><br>
      {{customer.address}}, {{customer.zip_code}}<br><br>
      
      {% if customer.date_of_last_pickup != today %}
      <form method="post">{% csrf_token %}<input type="hidden" id="cust_id" name="cust_id" value="{{ customer.id }}"><input type="submit" value="Collect Payment"></form>
      {% endif %}
      {% if customer.date_of_last_pickup == today %}
      Trash has been collected today!
      {% endif %}
      <br><h6>Last picked up: {{customer.date_of_last_pickup}}</h6>
    </li>
    {% endfor %}
</h6>
</ul>
{% else %}
<p>You are at the employee index, but you are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
{% endblock %}